img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

#gallery {
  display: flex;
}

#gallery img {
  max-width: 500px;
  height: auto;
  margin: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

.inserted {
  border: solid black 1px;
}

.inserted {
  color: rgb(red, green, blue);
  height: ;
}
